RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule .* index.php

# Hide source control from public
RewriteRule "^(.*/)?\.(git|svn|hg)/" - [F,L]
