.hide {display: none;}

#clue-dialog-cover {position: fixed; top: 0; width: 100%; bottom: 0; z-index:500; background: #000;
    opacity: .5; filter: alpha(opacity=50);
}

#clue-dialog {
	position: fixed; z-index: 1000; background: #FFF; border: 2px solid #CCC; margin: 5px;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.4);
}

#clue-dialog-title {
    height: 24px; line-height: 24px; font: bold 16px verdana, sans-serif; background: #00356A; color: #FFF; padding: 5px;
}
#clue-dialog-text {font: 14px sans-serif;}

#clue-dialog-close {cursor: pointer; background: url(../images/cancel.png) no-repeat; width: 20px; height: 20px; float: right;}
#clue-dialog-title-text {float: left;}

#clue-dialog.modal #clue-dialog-title {background-color: #FF7F22;}
#clue-dialog.modal #clue-dialog-text{
	margin-bottom: 30px;
}
#clue-dialog.modal .buttons{
	position: absolute; left: 10px; right: 10px; bottom: 10px;
	border-top: 1px solid #CCC; padding-top: 10px;
	text-align: right;
}

.dropdown {
    position: relative;
}
.dropdown .selected {
    overflow: hidden; white-space: nowrap;
}
.dropdown .options {
    height: 15em; overflow-y: auto; background: #FFF; display: none;
    position: absolute; top: 30px; left: 0; width: 160px;
}
.dropdown .option:hover {background: #CCC;}

.combobox {}
.combobox_list {height: 10em; width: 10em; overflow-x: hidden; background: #FFF; border: 1px solid #000; }
.combobox_list .combobox_item {padding: 2px; width: 100%; overflow: hidden; }
.combobox_list .combobox_item_highlighted {background: #000; color: #FFF;}
.combobox_button {background: url(clue/combobox_button.gif) #49A60C;}

